<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% if title == "login" %}
    <form action="{{ url_for("admin.login") }}" method="POST">
{% elif title == "signup" %}
    <form action="{{ url_for("admin.signup") }}" method="POST">
{% endif %}
    <p>username:<br><input type="text" name="username" /><br></p>
    <p>password:<br><input type="password" name="password" /><br></p>
    {{ form.csrf_token }}
    <p><input type="submit" value="{{ title }}"></p>
</form>
</body>
</html>
